@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: hsl(210, 20%, 96%);
  --foreground: hsl(220, 20%, 15%);
  --primary: hsl(212, 24%, 95%);
  --secondary: hsl(175, 100%, 42%);
  --muted-secondary: hsl(190, 30%, 40%);
  --destructive: hsl(0, 72%, 45%);
  --border: hsl(220, 12%, 75%);
  --card: hsl(212, 24%, 92%);
  --muted-foreground: hsl(220, 15%, 40%);
}

.dark {
  --background: hsl(220, 43%, 11%);
  --foreground: hsl(0, 0%, 92%);
  --primary: hsl(216, 31%, 17%);
  --secondary: hsl(175, 100%, 42%);
  --muted-secondary: hsl(190, 30%, 55%);
  --destructive: hsl(0, 72%, 45%);
  --card: hsl(216, 35%, 14%);
  --border: hsl(217, 21%, 27%);
  --muted-foreground: hsl(240 3.8% 70%);
}

@theme inline {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted-secondary: var(--muted-secondary);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-muted-foreground: var(--muted-foreground);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 5px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--muted-foreground) transparent;
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}

html,
body {
  @apply bg-background text-foreground;
}

@layer utilities {
  .container {
    @apply py-12 px-3 max-w-6xl mx-auto;
  }

  .page-container {
    @apply py-8 px-3;
  }
}
